<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/detail.css' %}">
    <title>Document</title>
</head>
<body>

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <div class="div-01-layout">
            <div class="div-01-body">

                <div class="question-title">
                    <h1>{{ question.question_text }}</h1>
                </div>
    
                <div class="alert-message">
                    {% if error_message %}
                        <p>
                            <strong>{{ error_message }}</strong>
                        </p>
                    {% endif %}
                </div>
    
                <div class="label-input">
                    {% for choice in question.choice_set.all %}
                        <div class="choice">
                            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id}}">
                            <label class="label-font" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                        </div>
                    {% endfor %}
                </div>
    
                <input class="vote-btn" type="submit" value="vote">
            </div>
        </div>
    </form>
   
</body>
</html>